body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flex-box {
    display: flex;
}

.maintain-width {
    width: 50%;
    padding: 5%;
}

.maintain-width img {
    width: 80%;
}

.profile-link {
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(to right, orange, tomato);
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}

.middle {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.bottom {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer p {
    text-align: center;
    padding-top: 5%;
    font-weight: bold;
}

#video-editor {
    border-left: 7px solid tomato;
}

#jr-developer {
    border-left: 7px solid blue;
}

.exp {
    margin-left: 10px;
}